.filterbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 12px 0 25px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
  border: 1px solid #ccd0d4;
  background: #fff;
  color: #555;
  font-size: 13px;
  position: sticky;
  top: 52px;
  z-index: 10;
}

.pagination,
.saving {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.pagination {
  flex: 2 1 auto;
  justify-content: flex-start;
}
.pagination .button,
.pagination input {
  margin-right: 10px;
}
.saving {
  flex: 1 1 auto;
  justify-content: flex-end;
}
.saving .button {
  margin-left: 10px;
}

.filterbar input[type="checkbox"] {
  margin: 5px;
}
